description = "Ecole primaire"

[staticPage]
useContent = 1
default = 0
==
{variable name="banner_page" label="Banner" tab="Banner" type="mediafinder" mode="image"}{/variable}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% partial "meta" %}
    </head>
    <body>
        {% set hasChildren = (staticPage.parent ?: staticPage.page).children %}

        <!-- Header -->
        <header id="main-header">
            
            {% partial "ep/header" %}
            
        </header>

        <!-- Content -->
        
       <!--  <section class="container content-margin"> -->

<section class="container content-margin">
    {% if hasChildren %}
        <div id="layout-subnav" style="margin-bottom: 10px;">
            <div class="container">
                {% partial 'subnav' page=staticPage.page %}
            </div>
        </div>
    {% endif %}                  


    <section class="box-image" style="border-radius: 6px 6px 0px 0px; margin-bottom: 0px;">

        {% if banner_page %}

            <img class="img-responsive" src="{{ banner_page|media }}" alt="" />

        {% else %}
            <img class="img-responsive" src="{{ 'assets/images/banner.jpg'|theme }}" alt="" />
        {% endif %}
       
        <div class="inner-content text-center" style="padding-top: 20px; padding-bottom: 20px;">
            <h2>
            {% if this.page.meta_title %}    
                {{ this.page.meta_title}}
            {% else %}
                {{ this.page.title}}
            {% endif %}
            </h2>

            <hr class="intro-divider">

            {% if this.page.meta_description %}
                <p class="text-center">{{ this.page.meta_description }}</p>
            {% endif %}
        </div>
    </section>

    <section class="box" style="border-radius: 0px 0px 6px 6px; margin-top: 0px; padding-top: 2px;  padding-bottom: 15px;">
        <div class="inner-content" style="margin-bottom: 0px; padding-bottom: 0px;">    
            {% page %}
        </div>
    </section>  

</section>


        <!-- Footer -->
        <footer id="footer">
            {% partial "ep/footer" %}
        </footer>

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ [
            'assets/js/bootstrap.min.js',
            'assets/js/app.js'
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>