{% if publications.count > 0 %}

  {% if publications.count == 1 %}
    {% set texteArticles = 'article affiché' %}
  {% else %}
    {% set texteArticles = 'articles affichés' %}
  {% endif %}
    
    <h5>Il y a {{ publications.count }} {{ texteArticles }}
      {% if publicationAllPage|staticPage %}
        | <a href="{{ publicationAllPage|staticPage }}">voir tous
      {% endif %}
    </h5>

	<div class="list-group">
		{% for publication in publications %}

      <div class="list-group-item" style="clear: left;">

      <!--  <a href="{{ __SELF__.property('publicationPage')|app }}/detail/{{ publication.id }}"> -->
      {% spaceless %}        
        <a href="{{ publicationPage|page({ (detailsUrlParameter): attribute(publication, detailsKeyColumn) }) }}">

          	<h4 class="">{{ publication.date_event |strftime('%A')|capitalize }} {{ publication.date_event | date('d.m.y') }} 
              {% if publication.show_time == 1 %}
                à {{ publication.date_event | date('H:m') }}
              {% endif %}

            - {{ publication.titre }}</h4>
          </a>
      {% endspaceless %}

          	{% if publication.banner %}
              <div style="float: left; margin-bottom: 2px; margin-right: 15px;"><img src="{{ publication.banner.thumb(160,auto,{'mode':'crop'}) }}" title="{{ publication.banner.title }}" alt="{{ publication.banner.description }}"></div>
          {% endif %}
        
        	
          <p class="">{{ publication.accroche|raw }}</p>
          <p class="text-muted"><small>Publié le {{ publication.updated_at | date('d.m.y') }} à {{ publication.updated_at | date('H:m') }}  par {{ publication.user.first_name }} </small></p>
      	
	
	    	</div>		
		{% endfor %}
</div>

{% else %}
    <h5 class="no-data">{{ __SELF__.property('noPublicationMessage') }}</h5>
{% endif %}
