// Customer Styling > par Digital Artisan
// -----------------------------------------------------

.page-header h1 {
  color: #fff;
  // text-shadow: 2px 2px 0px #e0bf29, 4px 4px #29abe0;
  // font: 60px ;
  letter-spacing: 6px;
  text-transform: lowercase;
  font-weight: 200;
  background-color: #e06329;
  // border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 8px;
  border-radius: 8px;
}

// .page-header h1::first-letter { 
    //font-size: 200%;
    // font-weight: 900;
 // }



// Menu active in navbar :

.child-active {
	background: #5b5c57;
}


// Menu active of Structures (right) :

.navbar-default .navbar-nav > .active-structure-ep > a,
.navbar-default .navbar-nav > .active-structure-ep > a:hover,
.navbar-default .navbar-nav > .active-structure-ep > a:focus {
  color: #ffffff;
  background-color: #29abe0; /* #89be3d */
}

.subnav-ep {
  padding-top: 4px;
  color: #ffffff;
  background-color: #29abe0;	
  text-transform: uppercase;
  font-weight: small;
  border: 0px solid #29abe0;
  border-radius: 5px;
  text-align: center;
  min-height: 44px
  }


.isDisabled {
	
	color: grey;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: non;
	pointer-events: none;
	}	



  /*
|--------------------------------------------------------------------------
| Gallery
|--------------------------------------------------------------------------
*/
.gallery {
  padding: 20px 15px;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px; }
  .gallery li {
    float: left;
    list-style-type:none;
    margin: 5px; }
  .gallery img, .gallery a {
    display: block; }

