p {
  font-weight: 300;
}
.white-text {
  color: #fff;
}
.margin-helper {
  margin-top: 30px;
}
.margin-top {
  margin-top: 15px;
}
.label {
  display: none;
}
.content-margin {
  margin-top: 85px;
  margin-bottom: 40px;
}
.padding-helper {
  padding: 30px;
}
.intro-image {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/banner.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  height: 90vh;
  margin-top: 60px;
  padding-top: 200px;
}
.intro-image h1 {
  font-size: 44px;
}
.intro-image p {
  font-size: 28px;
  font-weight: 300;
}
.text {
  margin-top: 30px;
}
.text i {
  font-size: 34px;
}
.header-text {
  font-weight: 300;
  font-size: 14px;
}
.intro-divider {
  width: 40%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.page-divider {
  width: 40%;
  border-top: 1px solid #3e3f3a;
  border-bottom: 1px solid #3e3f3a;
}
@media (min-width: 375px) and (max-width: 414px) {
  .intro-image {
    padding-top: 140px;
    height: 80vh;
  }
  .intro-image h1 {
    font-size: 42px;
  }
  .intro-image p {
    font-size: 26px;
  }
  .intro-divider {
    width: 90%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 320px) {
  .intro-image {
    padding-top: 80px;
    height: 80vh;
  }
  .intro-image h1 {
    font-size: 32px;
  }
  .intro-image p {
    font-size: 24px;
  }
}
.content-image {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/banner1.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  height: 50vh;
  margin-top: 60px;
  padding-top: 120px;
}
.content-image h1 {
  font-size: 40px;
}
.content-image p {
  font-size: 24px;
}
/* Box */
.box-main {
  background: #fff;
  border-radius: 6px;
  margin: 0 0 2em 0;
  padding-top: 3em;
}
.box-main img {
  border-radius: 0 0 6px 6px;
}
.box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
}
.box section {
  padding: 3em 2em;
  text-align: center;
}
.box-image {
  background: #fff;
  border-radius: 6px;
  margin: 0 0 2em 0;
}
.box-image img {
  border-radius: 6px 6px 0 0;
}
.box-image .inner-content {
  padding: 3em;
}
/* CTA */
#cta {
  background: #e89980;
  color: #f9e5df;
  padding: 3.5em 0 4em 0;
  text-align: center;
}
#cta h1,
#cta h2,
#cta h3,
#cta h4,
#cta h5,
#cta h6 {
  color: inherit;
}
.major {
  background: #666;
  border-radius: 100%;
  color: #ffffff;
  cursor: default;
  display: inline-block;
  height: 5.5em;
  line-height: 5.5em;
  margin: 0 0 2em 0;
  width: 5.5em!important;
}
.major:before {
  font-size: 2.5em;
}
.border-bottom-box {
  border-bottom: 2px solid #e5e5e5;
}
.border-bottom-box2 {
  border-bottom: 2px solid #e5e5e5;
}
.border-top-box {
  border-top: 2px solid #e5e5e5;
}
.border-right-box {
  border-right: 2px solid #e5e5e5;
}
@media screen and (max-width: 960px) {
  .border-right-box {
    border-right: 0px;
  }
}
@media screen and (min-width: 961px) {
  .border-bottom-box2 {
    border-bottom: 0px;
  }
}
.accent2 {
  background: #e89980;
  color: #ffffff;
}
.accent3 {
  background: #7fcdb8;
  color: #ffffff;
}
.accent4 {
  background: #90b0ba;
  color: #ffffff;
}
.accent5 {
  background: #e5cb95;
  color: #ffffff;
}
/* Portfolio Styles */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #3e3f3a;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #3e3f3a;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(62, 63, 58, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #3e3f3a;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
/* Footer */
#footer {
  padding: 4em 0 4em 0 ;
  background-color: #1d242a;
  text-align: center;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/banner.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/banner.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/banner.jpg");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer .icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  font-size: 2.0em;
}
#footer .icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
#footer .icons li:last-child {
  padding-right: 0!important;
}
#footer .icons a {
  color: #98978c;
}
#footer .icons a:hover {
  color: #ffffff;
  text-decoration: none;
}
#footer .footer-text {
  padding-bottom: 4em;
  color: #98978c;
  font-size: 14px;
  font-weight: 300;
  text-align: left!important;
}
#footer .mail-list {
  color: #98978c;
  font-size: 14px;
  font-weight: 300;
}
#footer .mail-list li {
  padding: 10px 0 10px 0;
}
#footer .transparent {
  background: none;
  border: 1px solid #98978c;
  border-radius: 2px;
  color: #98978c;
}
#footer .transparent:hover {
  background: #fff;
  color: #98978c;
}
#footer .nav li a {
  padding-left: 0!important;
  color: #98978c;
  font-size: 14px;
  font-weight: 300;
}
#footer .nav li a:hover {
  color: #ffffff;
  background: none;
  border: none;
}
#footer .copyright {
  color: #98978c;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.225em;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}
#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding-left: 1em;
}
#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}
#footer .copyright li a {
  color: inherit;
}
#footer .copyright li a:hover {
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  #footer .copyright li {
    border: 0;
    display: block;
    line-height: 1.65em;
    margin: 0;
    padding: 0.5em 0;
  }
}
@media screen and (max-width: 980px) {
  #footer {
    padding: 4em 3em 2em 3em;
  }
}
@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 2em 1em 2em ;
  }
}
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
